<configuration scan="true" scanPeriod="30 seconds">

    <define name="PID" class="ua.in.sz.swing.PidPropertyDefiner" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[${PID}] %green(%d{HH:mm:ss.SSS}) [%-30.30thread] %highlight(%-5level) | %-60.60logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>